.login_container {
    margin: 0px auto;
    width: 35%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 2;
    padding-top:80px;
}

.login_form {
    padding:40px;
    width: 100%;
    color:#000;
    background-color:#000;
    color: #F22B5D;
    opacity: 0.93;
}

.login_form h1{
    margin-top: 10px !important;
}

.login_form input{
    display: block;
    width: 100%;
    padding-left: 30px;
    color: #ced4da;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 28px;
    border: 1px solid #ced4da;
    height: 50px;
    border-radius: 10px;
    background-color: #000;
    text-transform: uppercase
    
}

.login_form svg {
    font-size: 30px;
    margin-left: -20px;
    cursor: pointer; 
}

.login_form span{
    display: block;
}

.login_form input:focus{
    outline: none;
    border: 2px solid #ced4da;
}

.login_form label{
    color: #e7e7e7;
    font-weight: 600;
    margin-top: 6px;
    font-size: 20px;
    display: inline-block;
}


.login_form button{
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.login_form p{
    display: block;    
}

.or_line {
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 5px;
    margin-top: 10px;
}

.login_form p span{
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
}

.Disabled_Button{
    outline: none;
    padding: 6px 12px !important;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #979797;
    color: white;
    border-color: #979797;
}

.Enabled_Button{
    outline: none;
    background-color: #F22B5D;
    border-color: #F22B5D;
    color:white;
    padding: 6px 12px !important;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}