.login_container {
    margin: 0px auto;
    width: 35%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 2;
    padding-top:20px;
}

.login_form {
    padding:40px;
    width: 100%;
    color:#000;
    background-color:#000;
    color: #F22B5D;
    opacity: 0.93;
}

.login_form svg {
    font-size: 30px;
    margin-left: -20px;
    cursor: pointer; 
}

.login_form h1{
    margin-top: 10px !important;
}   

.login_form h4{
    color: #ccc;
    margin-bottom: 20px !important;
}

.checkbox_div {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.checkbox_div p{
    display: block;
    text-align: center;
    color: #ccc;
    margin: 5px 0px;    
    font-weight: bolder;
}

.checkbox_div h4{
    margin: 5px 0px;
    color: #F22B5D;
    width:100%;
}


.checkbox_div input{
    width: 50px;
    padding: 8px;
    color: #ced4da;
    font-size: 14px;
    border: 1px solid #ced4da;
    height: 25px;
    margin-left: -10px;
    border-radius: 10px;
    background-color: #000;
    
}

.checkbox_div input:focus{
    outline: none;
    border: 2px solid #ced4da;
}


.login_form button{
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.login_form p{
    display: block;    
    text-align: center;
}

.login_form p span{
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}

.Disabled_Button{
    outline: none;
    padding: 6px 12px !important;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #979797;
    color: white;
    border-color: #979797;
}

.Enabled_Button{
    outline: none;
    background-color: #F22B5D;
    border-color: #F22B5D;
    color:white;
    padding: 6px 12px !important;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}