.banner_image {
    min-width: 100%;
    min-height: 100vh;
    padding: 85px 0px;
    position: relative;
    background-image: url(../../assets/Images/bannerImage2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
