

.login_container {
    margin: 0px auto;
    width: 35%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 2;
}

.login_form {
    padding:40px;
    width: 100%;
    color:#000;
    background-color:#000;
    color: #F22B5D;
    opacity: 0.93;
}

.login_form a{
    color: #ccc;    
    font-weight: 600;
    cursor: pointer;
}

.login_form input{
    display: block;
    width: 100%;
    padding: 8px;
    color: #ced4da;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
    
}

.login_form span{
    display: block;
}

.login_form input:focus{
    outline: none;
    border: 2px solid #ced4da;
}

.login_form label{
    color: #e7e7e7;
    font-weight: 600;
    margin-top: 6px;
    display: inline-block;
}

.Disabled_Button{
    outline: none;
    padding: 6px 12px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #979797;
    color: white;
    border-color: #979797;
}

.Enabled_Button{
    outline: none;
    background-color: #F22B5D;
    border-color: #F22B5D;
    color:white;
    padding: 6px 12px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.login_form p{
    display: block;    
}

.login_form h3{
    margin-top: 0px;
}


.vendor_left_menu {
    width: 140px;
    padding-left: 12px;
    margin: 0px auto;
    background-color: transparent;
    text-align: center;
}


.vendor_left_menu img {
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 60px;
    margin: 4px auto 0px;
    border: 1px solid #000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.vendor_left_menu_img {
    position: relative;
    margin-bottom: 5px;
}

.vendor_left_menu_img_upload {
    width: 136px;
    overflow: hidden;
    position: absolute;
    /* right: 18%; */
    bottom: -40px;
}
.vendor_left_menu_img_upload input {
    /* position: absolute; */ 
    left: 0;
    cursor: pointer;
    /* bottom: 4px; */
    margin-bottom: 0px;
    height: 30px;
    /* background-color: white; */
    width: 100%;
    opacity: 0;
}

.vendor_left_menu_img_upload i {
    font-size: 17px;
    cursor: pointer;
    background-color: #000 !important;
}
