.banner_image {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-image: url("../../assets/Images/bannerImage2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* opacity: 0.6; */
}

.login_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 2
}

.login_gym_image {
    flex: 45%;
}

.login_gym_image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.login_form {
    padding:80px 30px;
    flex: 55%;
    color:#000;
    background-color:#000;
    opacity: 0.85;
}

.login_form a{
    text-decoration: none !important;
}

.login_form button {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    margin: 0px auto;
    display: block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-width: 188px;
    padding: 18px 35px;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #F22B5D;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.Facebook {
    background: #3a5499 !important;
}

.policy_div {
    margin-top: 30px;
    text-align: center;
}

.policy_div a {
    color: #fff !important;
    padding:0px 20px;
}