.activity_box_item {
    width: 96%;
    border-radius: 3px;
    margin: 0px auto;
    padding:15px 10px;
    color: #FFFFFF;
    background-color: #000000;
    border:1.3px solid #FFFFFF;
    margin-bottom: 14px;
}

.activity_icon {
    width: 21%;
    display: block;
    float: left;
    text-align: center;
}

.activity_icon img{
    height: 60px;
    width: 60px;
    border: 2px solid #FFFFFF;
    border-radius: 27px;
    object-fit: cover;
}

.activity_detail {
    width: 78%;
    padding-left: 10px;
    display: block;
    float: right;
}

.activity_detail h4{    
    margin-top: 0px;
    margin-bottom: 5px;
}

.activity_detail p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 12px;
}
