.header_div {
    position: fixed;
    background-color: #0C0C0C;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* .header_div a:hover{
    color:#FFFFFF;
    background-color: #FF0040;
} */

.logo_div {
    display: block;
    float: left;    
}

.logo_div a {
    padding: 17px 12px;        
    color:#FFFFFF;
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
}

.logo_div a span{
    color:#FF0040;
}

.navbar  {
    display: block;
    float: right;
}

.navbar a {
    padding: 17px 12px;        
    color:#FFFFFF;
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

