.login_container {
    margin: 0px auto;
    width: 35%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 2;
    padding-top:80px;
}

.login_form {
    padding:40px;
    width: 100%;
    color:#000;
    background-color:#000;
    color: #F22B5D;
    opacity: 0.93;
}

.login_form h1{
    margin-top: 10px !important;
}   

.login_form h3{
    margin-top: 10px !important;
    font-size: 22px !important;
}   

.login_form svg {
    font-size: 30px;
    margin-left: -20px;
    cursor: pointer; 
}

.login_form h3{
    color: #ccc;
    text-align: center;
}

.login_form button{
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.login_form p{
    display: block;    
}

.login_form p span{
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
}

.vendor_left_menu {
    width: 140px;
    padding-left: 0px;
    background-color: transparent;
    text-align: center;
    margin: 0px auto;
}


.vendor_left_menu img {
    background-repeat: no-repeat;
    object-fit: cover;
    height: 120px;
    width: 120px;
    border-radius: 16px;
        margin: 4px auto 0px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.vendor_left_menu_img {
    position: relative;
}

.vendor_left_menu_img_upload {
    width: 136px;
    overflow: hidden;
    position: absolute;
    /* right: 18%; */
    bottom: -50px;
}

.Enabled_Button{
    outline: none;
    background-color: #F22B5D;
    border-color: #F22B5D;
    color:white;
    padding: 6px 12px !important;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.or_line {
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 5px;
    margin-top: 10px;
}

