.input_div input{
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    height: 40px;
    border-radius: 10px;
}

.input_div input:focus{
    outline: none;
    border-color: #000;
}

.input_div label{
    color:#000;
    font-weight: 600;
}