.login_form {
    width: 100%;
    color: #F22B5D;
    /* color:#000;
    background-color:#000;
 
    opacity: 0.93; */
}


.login_form input{
    display: block;
    width: 100%;
    padding: 8px;
    color: #ced4da;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
    
}

.login_form select{
    display: block;
    width: 100%;
    padding: 8px;
    color: #ced4da;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
}

.login_form span{
    display: block;
}

.login_form input:focus{
    outline: none;
    border: 2px solid #ced4da;
}

.login_form input:focus{
    outline: none;
    border: 2px solid #ced4da;
}

.login_form select>option:hover
    {
        color: #1B517E;
        cursor: pointer;
    }

.login_form label{
    color: #e7e7e7;
    font-weight: 600;
    margin-top: 6px;
    display: inline-block;
}

.Disabled_Button{
    outline: none;
    padding: 6px 15px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #979797;
    color: white;
    border-color: #979797;
}

.Enabled_Button{
    outline: none;
    background-color: #F22B5D;
    border-color: #F22B5D;
    color:white;
    padding: 6px 15px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.form_group {
    width:46%;
    display:inline-block;
    margin-left: 8px;
}

.form_group_container {
    display: flex;
    flex-wrap: nowrap;
}

.fieldArray_container {
    position: relative;
    margin-top: -10px;
}

.add_equipment {
    /* display: inline-block;
    right: 19px; */
    cursor: pointer;
    float: right;
    margin-right: 20px;
    /* top: 6px;
    position: absolute; */
}

.equipmenty_label {
    margin-top: 10px;
    margin-left: 10px;
}

.remove_equipment {
    display: inline-block !important;
    position: absolute !important;
    right: -5px;
    top: 40px;
    cursor: pointer;
}

