.banner_image {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-image: url("../../assets/Images/bannerImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    opacity:0.6;
}

.login_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 2
}

.login_gym_image {
    flex: 45%;
}

.login_gym_image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.login_form {
    padding:40px;
    flex: 55%;
    color:#000;
    background-color:#000;
    opacity: 0.93;
}

.login_form h1{
    color:#e13863;
}

.login_form input{
    display: block;
    width: 100%;
    padding: 8px;
    color: #ced4da;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
    
}

.login_form span{
    display: block;
}

.login_form input:focus{
    outline: none;
    border: 2px solid #ced4da;
}

.login_form label{
    color: #e7e7e7;
    font-weight: 600;
    margin-top: 6px;
    display: inline-block;
}

.Disabled_Button{
    outline: none;
    padding: 6px 12px !important;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px !important;
    cursor: pointer;
    background-color: #979797;
    color: #e7e7e7;
    border-color: #979797;
}

.Enabled_Button{
    outline: none;
    background-color: #F22B5D;
    border-color: #F22B5D;
    color: #e7e7e7;
    padding: 6px 12px !important;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px !important;
    cursor: pointer;
}


.Disabled_Button{
    outline: none;
    padding: 6px 12px !important;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px !important;
    cursor: pointer;
    background-color: #979797;
    color: #e7e7e7;
    border-color: #979797;
}

.Enabled_Button{
    outline: none;
    background-color: #F22B5D;
    border-color: #F22B5D;
    color: #e7e7e7;
    padding: 6px 12px !important;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px !important;
    cursor: pointer;
}


.login_form a{
    float: right;
    display: block;
    margin-top:10px;
}

.login_form span{
    color: #d62a2a;
}