
.heart_box_item {
    width: 190px;
    flex-shrink: 0; 
    border-radius: 3px;
    padding:10px;
    color: #FFFFFF;
    margin-left:14px;
    margin-bottom: 14px;
}

.user_info {
    width:40%;
    display: block;
    float: left;
    text-align: center;
    padding-top: 18px;
}

.user_info img{
    height: 50px;
    width: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 27px;
    object-fit: cover;
}

.user_info  p{
    margin:0;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 20px;

}

.user_workout {
    width:60%;
    display: block;
    float: right;
    padding-left: 15px;
}

.user_workout span{
    margin-right: 10px;
}

.user_workout p{
    margin-top: 3px;
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 900;
    letter-spacing: 0;
    padding-left: 5px;
}

.user_workout ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.user_workout ul li{
    display: inline-block;
    padding: 0px 5px 5px 5px;
}