.main_div {
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #0C0C0C;
}

.container {
    width: 95%;
    background-color: #000000;
    margin: 0px auto;
    padding: 40px 0px 40px 28px;

}

.parent_div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.add_activity {
    background-color: #F22B5D;
    color: white;
    border-color: #F22B5D;
    outline: none !important;
    border-radius: 18px;
    padding: 6px 11px;
}


.activity_box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
}

.activity_box h1 {
    margin-top: 0px;
}

.activity_box_type {
    width:100%;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 265px;
    overflow-y: scroll;
    margin-bottom: 15px;
    padding: 20px 5px;
}

.activity_header h1{
    display: inline-block;
    color: white;
}

.activity_header button{
    float: right;
}

.activity_title {
    color: white;
}



.heart_box {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    padding: 30px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}











