.radio_box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.radio_box_item {
    width: 150px;
}

.radio_box_item label{
    float: left;
    display: block;
    padding-top: 2px;
    padding-left: 60px;
}

.radio_box_item input{
    float: right;
    display: block;
    height:20px !important;
    width:20% !important;
}