@import "./../node_modules/react-calendar/dist/Calendar.css";

@import '../node_modules/primereact/resources/themes/nova-light/theme.css';
@import '../node_modules/primereact/resources/primereact.min.css';
@import '../node_modules/primeicons/primeicons.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color:#fff !important;
  padding: 0;
  font-size: 15px !important;
  font-family: 'Raleway', sans-serif !important;    
}

input {
  font-family: 'Raleway', sans-serif !important;    
}

h1 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1rem !important;
}

button {
  outline: none !important;
}

label {
  margin-bottom: 0 !important;
}
